@import "materialize.min.css";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#standings tbody img {
  margin: 5px 10px;
  width: 20px;
}

/*
Tabs Customize
 */
.tabs .tab a {
  color: #424242;
}

/*Black color to the text*/

.tabs .tab a:hover {
  background-color: #eee;
  color: #424242;
}

/*Text color on hover*/

.tabs .tab a.active {
  background-color: #eee !important;
  color: #424242;
}

/*Background and text color when a tab is active*/

.tabs .indicator {
  background-color: #424242;
}

/*Color of underline*/