<div class="row">
  <div class="col s12" style="margin-top: 20px">
    <ul class="tabs">
      <li class="tab col s6"><a class="active" href="#standings-tab">STANDINGS</a></li>
      <li class="tab col s6"><a href="#scorers-tab">TOP SCORERS</a></li>
    </ul>
  </div>
  <div id="standings-tab" class="col s12">
    <table class="striped" id="standings">
      <thead>
      <tr>
        <th>Club</th>
        <th>P</th>
        <th>W</th>
        <th>D</th>
        <th>L</th>
        <th>GF</th>
        <th>GA</th>
        <th>PTS</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
  <div id="scorers-tab" class="col s12">
    <table class="striped" id="scorers">
      <thead>
      <tr>
        <th class="center-align">Name</th>
        <th class="center-align">Club</th>
        <th class="center-align">Goals</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>